body {
  min-height: 100vh;
  display: flex;
}
.sidebar,
.main-section {
  padding: 25px 50px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  background-color: chocolate;
}
.project-wrapper {
  width: 100%;
  height: min-content;
  padding: 15px;
  border: 2px solid black;
}
.project-header,
.task-header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.task-header {
  width: 90%;
}
.hidden > .project-body,
.hidden > .task-body {
  display: none;
}
.project-dueDate,
.task-progress {
  margin-left: auto;
}
li {
  display: flex;
  gap: 1em;
}
.project-tasks-container {
  display: flex;
  flex-direction: column;
}
