body {
  min-height: 100vh;
  display: flex;
}
.sidebar,
.main-section {
  padding: 25px 50px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  background-color: chocolate;
}
.main-section {
  width: 100%;
}
.project-wrapper {
  width: 100%;
  height: min-content;
  padding: 15px;
  border: 2px solid black;
}
.project-header,
.task-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* justify-content: space-between; */
}
.task-header {
  width: 90%;
}
.hidden > .project-body,
.hidden > .task-body {
  display: none;
}
.project-dueDate,
.task-progress {
  margin-left: auto;
}
li {
  display: flex;
  gap: 1em;
}
.project-tasks-container {
  display: flex;
  flex-direction: column;
}
.project-main-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: min-content;
  width: 50%;
  border: 4px solid black;
  border-radius: 12px;
  padding: 18px 26px;
}
.project-main-wrapper > * {
  align-self: center;
}
.project-edit-dueDate {
  margin-left: auto;
  font-size: 1.2em;
}
.project-edit-description {
  grid-row: 2;
  grid-column: 1/3;

  font-size: 1.4em;
}
.project-edit-title {
  font-weight: bold;
  font-size: 2em;
}
.project-task-wrapper {
  grid-column: 1/3;

  margin-left: 10px;
}
.task-edit-title {
  font-weight: bold;
  font-size: 1.6em;
}
.step-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 14px;
}
