body {
  min-height: 100vh;
  display: flex;
}
.sidebar,
.main-section {
  padding: 25px 50px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  background-color: chocolate;
}

.project-wrapper {
  padding: 10px 20px;
  width: 100%;
  height: min-content;
  border: 2px solid black;
}
.project-header,
.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-header {
  width: 90%;
}
li {
  display: flex;
  gap: 1em;
}
